/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

header .logo {
    display: flex;
    justify-content: center;
}

header .img-logo {
    width: 200px; /* Tamaño específico */
    height: 100px; /* Tamaño específico */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #000;
    width: 25px;
    height: 3px;
    position: relative;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: red;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption h5 {
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    
}

.carousel-caption p {
    font-size: 1rem;
}


footer {
    background-color: #ffffff;
    border-top: 1px solid #dee2e6;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer a:hover {
    text-decoration: underline;
}

.img-fluid {
    max-height: 300px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

h1.display-4 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px; /* Espacio arriba del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: red;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px; /* Espacio arriba del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: red;
    margin-left: 70px; /* Margen izquierdo para alinear con h3 */
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px; /* Espacio arriba del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: black;
    margin-left: 0px; /* Margen izquierdo para alinear con h2 */
}

.content-left img {
    margin-bottom: 60px; /* Espacio debajo de la imagen */
    display: block;
}

.text-left {
    text-align: left;
    margin-left: 100px;
}

.content-left {
    max-width: 600px;
    margin-left: 100px;
}

p {
    margin-top: 20px; /* Espacio arriba del párrafo */
}

.small-carousel {
    max-width: 400px;
    margin-left: 70px;
}

.small-carousel .carousel-item img {
    height: 250px;
    object-fit: cover;
}

 /* Estilo fotografia */
 
 .text-container {
    background-color: black; /* Color de fondo negro */
    color: white; /* Color de texto blanco */
    padding: 20px; /* Espacio interno */
    border-radius: 8px; /* Esquinas redondeadas */
    max-width: 1000px; /* Ancho máximo del cuadro */
    margin: 0 auto; /* Centra el cuadro horizontalmente */
}
